<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center">You're authorized</h1>
            <button (click)="logout()" class="btn btn-primary">Logout</button>
          </div>
        </div>
  
        <div class="card mt-4">
          <div class="card-body">
            <h2 class="card-title text-center">Scheduled Jobs</h2>
  
            <form [formGroup]="jobForm" (ngSubmit)="editingJob ? updateJob() : addJob()">
              <div class="form-group">
                <label for="jobName">Job Name</label>
                <input id="jobName" formControlName="name" class="form-control" required />
                <div *ngIf="jobForm.controls['name'].invalid && jobForm.controls['name'].touched" class="text-danger">
                  Job Name is required.
                </div>
              </div>
              <div class="form-group">
                <label for="command">Command</label>
                <input id="command" formControlName="command" class="form-control" required />
                <div *ngIf="jobForm.controls['command'].invalid && jobForm.controls['command'].touched" class="text-danger">
                  Command is required.
                </div>
              </div>
              <div class="form-group">
                <label for="cronExpression">Cron Expression (Quartz .NET format)</label>
                <input id="cronExpression" formControlName="cronExpression" class="form-control" required />
                <div *ngIf="jobForm.controls['cronExpression'].invalid && jobForm.controls['cronExpression'].touched" class="text-danger">
                  Invalid Cron Expression (Quartz .NET format).
                </div>
                <small class="form-text text-muted">
                  <a href="http://www.cronmaker.com/" target="_blank">Click here to generate a Cron Expression</a>
                </small>
              </div>
              <div class="form-group">
                <label for="isActive">Active</label>
                <input id="isActive" type="checkbox" formControlName="isActive" />
              </div>
              <button type="submit" class="btn btn-success" [disabled]="jobForm.invalid">
                {{ editingJob ? 'Update Job' : 'Add Job' }}
              </button>
              <button type="button" (click)="cancelEdit()" *ngIf="editingJob" class="btn btn-secondary ml-2">Cancel Edit</button>
            </form>
  
            <ul class="list-group mt-3">
              <li *ngFor="let job of jobs" class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div>
                    <strong>{{ job.name }}</strong><br />
                    <small>{{ job.cronExpression }}</small><br />
                    <small>Status: {{ job.isActive ? 'Active' : 'Inactive' }}</small><br />
                    <small><strong>Job ID:</strong> {{ job.id }}</small>
                  </div>
                  <div>
                    <button (click)="toggleActive(job)" class="btn btn-warning btn-sm">Toggle Status</button>
                    <button (click)="editJob(job)" class="btn btn-info btn-sm">Edit</button>
                    <button (click)="deleteJob(job.id)" class="btn btn-danger btn-sm">Delete</button>
                  </div>
                </div>
              </li>
            </ul>
  
            <div class="d-flex justify-content-between mt-3">
              <button class="btn btn-info" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
              <button class="btn btn-info" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-info" (click)="refreshJobs()">Refresh</button>
            </div>
  
            <div>
              <button class="btn btn-info mt-3" (click)="goToLogs()">View Logs</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  